Repository Open-Hack-Team-9/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Open-Hack-Team-9/HackTeam, @woutervanranst, @hans-verbeeck, @gabrielecastellani, @frpascer443

CODEOWNERS:

*    @Open-Hack-Team-9/HackTeam
/apis/poi    @woutervanranst
/apis/trips     @hans-verbeeck
/apis/user-java     @gabrielecastellani
/apis/userprofile     @frpascer443

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#26)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Program.cs
  apis/poi/web/Program.cs
Owners: @woutervanranst

Update Program.cs (#27)
  apis/poi/web/Program.cs
Owners: @woutervanranst

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#28)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Create Deploy POI
  .github/workflows/Deploy POI
Owners: @Open-Hack-Team-9/HackTeam

Update and rename Deploy POI to Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Create Deploy POI (#29)
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml (#30)
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml (#31)
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#32)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml (#33)
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#34)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build_trips.yml
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build_trips.yml (#35)
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml (#36)
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md
  apis/trips/README.md
Owners: @hans-verbeeck

Update build-other.yml
  .github/workflows/build-other.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml (#39)
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-other.yml (#38)
  .github/workflows/build-other.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml (#40)
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_trips.yml (#41)
  .github/workflows/build_trips.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md (#37)
  apis/trips/README.md
Owners: @hans-verbeeck

Create build_userprofile.yml
  .github/workflows/build_userprofile.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build_userprofile.yml (#42)
  .github/workflows/build_userprofile.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md
  apis/userprofile/README.md
Owners: @frpascer443

Update README.md (#43)
  apis/userprofile/README.md
Owners: @frpascer443

Create build_user-java.yml
  .github/workflows/build_user-java.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build_user-java.yml (#44)
  .github/workflows/build_user-java.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md
  apis/user-java/README.md
Owners: @gabrielecastellani
