Repository Open-Hack-Team-9/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Open-Hack-Team-9/HackTeam, @woutervanranst, @hans-verbeeck, @gabrielecastellani, @frpascer443

Update README.md
  apis/poi/README.md
Owners: @woutervanranst

Update README.md
  apis/poi/README.md
Owners: @woutervanranst

Update README.md
  apis/poi/README.md
Owners: @woutervanranst

Update README.md (#11)
  apis/poi/README.md
Owners: @woutervanranst

Initial POI Build Action
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Initial POI Build Action (#12)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Startup.cs
  apis/poi/web/Startup.cs
Owners: @woutervanranst

Update Startup.cs (#13)
  apis/poi/web/Startup.cs
Owners: @woutervanranst

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update netcore version
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update netcore version 2.1.0
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

update netcore 2.1.22
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

update netcore version
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

let s try
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

update triggers
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#14)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md
  apis/poi/README.md
Owners: @woutervanranst

Update README.md (#15)
  apis/poi/README.md
Owners: @woutervanranst

Update README.md
  apis/trips/README.md
Owners: @hans-verbeeck

Update README.md
  apis/trips/README.md
Owners: @hans-verbeeck

Update README.md (#16)
  apis/trips/README.md
Owners: @hans-verbeeck

Update Program.cs
  apis/poi/web/Program.cs
Owners: @woutervanranst

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build-other.yml
  .github/workflows/build-other.yml
Owners: @Open-Hack-Team-9/HackTeam

Create build-other.yml (#19)
  .github/workflows/build-other.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#18)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Program.cs
  apis/poi/web/Program.cs
Owners: @woutervanranst

Update Program.cs (#17)
  apis/poi/web/Program.cs
Owners: @woutervanranst

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#21)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Startup.cs
  apis/poi/web/Startup.cs
Owners: @woutervanranst

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#23)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#24)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml (#25)
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Startup.cs (#22)
  apis/poi/web/Startup.cs
Owners: @woutervanranst

CODEOWNERS:

*    @Open-Hack-Team-9/HackTeam
/apis/poi    @woutervanranst
/apis/trips     @hans-verbeeck
/apis/user-java     @gabrielecastellani
/apis/userprofile     @frpascer443
