Repository Open-Hack-Team-9/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Open-Hack-Team-9/HackTeam, @woutervanranst, @hans-verbeeck, @gabrielecastellani, @frpascer443

Update README.md (#45)
  apis/user-java/README.md
Owners: @gabrielecastellani

Update build_userprofile.yml
  .github/workflows/build_userprofile.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build_userprofile.yml (#46)
  .github/workflows/build_userprofile.yml
Owners: @Open-Hack-Team-9/HackTeam

Update README.md
  apis/userprofile/README.md
Owners: @frpascer443

Update README.md (#47)
  apis/userprofile/README.md
Owners: @frpascer443

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @woutervanranst

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @woutervanranst

Update Healthcheck.cs (#48)
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @woutervanranst

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml (#50)
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml
  .github/workflows/Deploy POI.yml
Owners: @Open-Hack-Team-9/HackTeam

Update build-poi.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Deploy POI.yml (#51)
  .github/workflows/Deploy POI.yml
  .github/workflows/build-poi.yml
Owners: @Open-Hack-Team-9/HackTeam

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @woutervanranst

Update Healthcheck.cs (#52)
  apis/poi/web/Models/Healthcheck.cs
Owners: @woutervanranst

CODEOWNERS:

*    @Open-Hack-Team-9/HackTeam
/apis/poi    @woutervanranst
/apis/trips     @hans-verbeeck
/apis/user-java     @gabrielecastellani
/apis/userprofile     @frpascer443
